body {
  background-color: 000;
}

#content {
  margin: 0 auto;
  width: 70%;
  min-width: 500px;
  color: #fff;
}

#content a {
  color: #ff1fa2;
}

h1 {
  font-size: 80px;
  color: #ff401f;
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #11F1FF;
  font-size: 16px;;
}
.emphasis {
  color: #ff401f;
  font-weight: bold;
  font-style: italic;
}

.tumblr-post {
  margin: 0 auto;
}

.freebirdHeaderMast {
  background-color: #000 !important;
}
#cover {
  margin: 0 auto;
  max-height: 600px;
  max-width: 600px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
